# Python env (
# TODO: ignore rule should be more general)
demo_env/
.venv/
.cs2-env/
*.egg-info/

# Demo and output files
*.dem
*.glb
*.cs2session

# Output files
out/
data/
broken_demos/

# Python stuff
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
